<!DOCTYPE html>
<html>
  <head>
    <title>Flight Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      &nbsp;|&nbsp;
      <a href="/flights">ALL FLIGHTS</a>
      &nbsp;|&nbsp;
      <a href="/flights/new">ADD A FLIGHT</a>
    </nav>
  </body>
</html>
