<!DOCTYPE html>
<html>
  <head>
    <title>Flight Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      &nbsp;|&nbsp;
      <a href="#">ALL FLIGHTS</a>
      &nbsp;|&nbsp;
      <a href="#">ADD A FLIGHT</a>
    </nav>