<!DOCTYPE html>
<html>
  <head>
    <title>Flight Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      &nbsp;|&nbsp;
      <a href="/flights">ALL FLIGHTS</a>
      &nbsp;|&nbsp;
      <a href="/flights/new">ADD A FLIGHT</a>
    </nav>
  </body>
</html>
